
$primary: #FFD502;
$accent: #2F2FCF;

* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#directions {
  margin: 0 auto;
  max-width:700px;
  color: $accent;
  margin-bottom: 20px;
  display: inline-block;
}

.card {
  margin: 0 auto;
  border-radius: 15px;
  background-color: $primary;
  padding: 20px;
  width: 70%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.owner-col, .minion-col {
  display: inline-block;
  max-height: 500px;
  overflow-y: scroll;
  border: 2px solid $accent; 
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 15px;

}

.owner-col {
  float:left;
  margin-left: 15%;
  margin-top: 20px5
}

.minion-col {
  float:right;
  margin-right: 15%;
}


.middle-col {
  vertical-align: top;
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  margin-top: 20px;
}

li {
  color: $accent;
  transition: all 1.5s ease;
  width: 130px;
  border-radius: 10px;
  list-style-type: none;
  margin: 20px;
  &:hover {
    cursor: pointer;
  }
}

nav  {
  top: 0;
  margin: 0;
  margin-bottom: 60px;
  height: 80px;
  width: 100%;
  background-color: $primary;
  ul{
    float: left;
    margin-left: 20px;

    li {
      display: inline-block; 
      margin: 0 20px 0 20px;
      &:hover {
        background-color: none;
      }
      a {
       color: $accent;
       text-decoration: none;
       transition: all 1s ease;
       &:hover {
        text-decoration: underline;
        color: gray;
      }
    }

  }
}
}

.title {
  color: $accent;
  font-size: 5rem;
}

button {
  display: inline-block;
  margin: 20px;
  text-align: center;
  height: 30px;
  width: 120px;
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
  transition: all 1s ease;
  &:hover {
    background-color: #417cb8
  }
  &:active {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
  }
  &:focus {
    outline: none;
    background-color: rgb(39, 73, 109);
    color: #FFFFFF;
  }
}

button.confirm {
  vertical-align: center;
  height:50px;
}
button.cancel {
  height: 50px;
}
#saveEdit {
  vertical-align: top;
  margin-top: 5px;
}
#submitOwner {
  vertical-align: top;
  margin-top: 42px;
  display: inline-block;
}
#minionButton {
  background-image: url('images/minion.png');
  background-size: contain;
}
.delete {
 background-color: red;
}

.saveEdit, #minionButton, .delete{
  display: inline-block;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

textarea {
  border-radius: 5px;
  width: 30%;
  &::-webkit-input-placeholder {
   color: black;
 }
 &:focus {
  outline:  none;
}
}

label.active {
  color: $accent !important;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  margin-bottom: 15px;

}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border-bottom: 1px solid #9e9e9e;
  height: 1.5rem;
  width: 150px;
  font-size: 1rem;
  display: inline-block;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $accent;
  box-shadow: 0 1px 0 0 $accent;
  display: inline-block;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $accent;
  box-shadow: 0 1px 0 0 $accent;
  display: inline-block;
}

#minionImg{
  max-width: 15px;
  border-radius: 0;
  box-shadow: none;
}
#minionDiv {
  display: inline-block;
}
img{
  background-color: white;
  display: inline-block;
  min-height: 10px;
  min-width: 100px;
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

a > img{
  &:hover {
   opacity: .5;
 }
}

#modal1 {
  width: 70%;
  overflow-x: scroll;
  background-color: black;
  color:white;
}

.new {
  color: $accent;
  font-size: 3rem;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  // padding: 1rem;
  float: right;
}
html {
  position: relative;
}
.adoptable, .adopted {
  display: inline-block;
  padding: 10px; 
}

.subTitle{
  color:$accent;
  font-size: 2rem;
}

.age, .eyes {
  max-width: 40px;
}


.input-field label {
  right: 0;
  left:0;
  top: -.2rem;
}
.input-field {
  display: inline-block;
  margin: 15px;
}

fieldset {
  display: none;
}

#mHairLabel{
  top: -1.7rem;
}

#mHair {
  vertical-align: top;
  margin-top: -22px;
}


