
* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.card {
  margin: 0 auto;
  border-radius: 15px;
  background-color: #FFD502;
  padding: 20px;
  width: 70%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.owner-col, .minion-col {
  display: inline-block;
  max-height: 600px;
  overflow-y: scroll;
  border: 2px solid darkblue; 
  border-radius: 5px;
}


.owner-col {
  float:left;
  margin-left: 15%;
}

.minion-col {
  float:right;
  margin-right: 15%;
}


.middle-col {
  vertical-align: top;
  width: 60%;
  margin: 0 auto;
  display: inline-block;
}


li {
  color: #0627C2;
  transition: all 1.5s ease;
  width: 130px;
  border-radius: 10px;
  list-style-type: none;
  margin: 20px;
  &:hover {
    cursor: pointer;
  }
}

nav  {
  // position: fixed;
  top: 0;
  margin: 0;
  margin-bottom: 60px;
  height: 80px;
  width: 100%;
  background-color: #FFD502;
  ul{
    float: left;
    margin-left: 20px;

    li {
      display: inline-block; 
      margin: 0 20px 0 20px;
      &:hover {
        background-color: none;
      }
      a {
       color: blue;
       text-decoration: none;
       transition: all 1s ease;
       &:hover {
        // text-decoration: underline;
        color: gray;
      }
    }

  }
}
}

#title {
  color: blue;
  font-size: 5rem;
}

button {
  display: inline-block;
  margin: 20px;
  text-align: center;
  height: 30px;
  width: 120px;
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
  transition: all 1s ease;
  &:hover {
    background-color: #417cb8
  }

  &:active {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
  }
  &:focus {
    outline: none;
  }
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  width: 90px;
  margin-bottom: 15px;
}

img{
  background-color: white;
  display: inline-block;
  min-height: 10px;
  min-width: 100px;

  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  &:hover {
   opacity: .5;
 }
}

.selected {
  background-color: lightgray;
  width: 50%;
}


#modal1 {
  width: 70%;
}
