
* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.card {
  background-color: #FFD502;
  padding: 20px;
  width: 50%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.owner-col {
  width: 30%;
  display: inline-block;
  // border: 2px solid green;
}

.minion-col {
  width: 30%;
  display: inline-block;
  float:right;
}


.middle-col {
  width: 60%;
  display: inline-block;
// border: 2px solid blue;
}



li {
  color: #0627C2;
  transition: all 1.5s ease;
  width: 130px;
  border-radius: 10px;
  list-style-type: none;
  margin: 15px;
  &:hover {
    background-color: #0627C2;
    color: white;
    cursor: pointer;
  }
}

nav  {
  // position: fixed;
  top: 0;
  margin: 0;
  margin-bottom: 60px;
  height: 60px;
  width: 100%;
  background-color: #FFD502;
  ul{
    float: left;
    margin-left: 20px;

    li {
      display: inline-block; 
      margin: 0 20px 0 20px;
      &:hover {
        background-color: none;
      }
      a {
       color: blue;
       text-decoration: none;
       transition: all 1s ease;
       &:hover {
        text-decoration: underline;
        color: gray;
      }
    }

  }
}
}

#title {
  color: blue;
  font-size: 40px;
}

button {
  margin: 20px;
  text-align: center;
  height: 30px;
  width: 100px;
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px #27496d;
  transition: all 1s ease;
  &:hover {
    background-color: #417cb8
  }

  &:active {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
  }
  &:focus {
    outline: none;
  }
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  width: 90px;
  margin-bottom: 15px;
}

img{
  max-height: 100px;
  max-width: 100px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.selected {
  border: 3px solid red;
}

