

<button ng-click="viewAll()">View All</button>
<button ng-click="viewAvailable()">View Available</button>
<button ng-click="viewAdopted()">View Adopted</button>


<br>

<div class="middle-col middle-min">
  <div class="card" ng-show="viewMinion">
    <form ng-submit="saveEdit(viewMinion)">
      <label for="">Name</label>
      <input ng-model="viewMinion.name"></input>
      <br>
      <label for="">Eyes</label>
      <input ng-model="viewMinion.eyes"></input>
      <br>
      <label for="">Hair</label>
      <input ng-model="viewMinion.hair"></input>
      <br>
      <label for="">Notes:</label>
      <textarea ng-model="viewMinion.notes"></textarea>
      <br>
      <img ng-src="{{viewMinion.photo}}">
      <input type="text" ng-model="viewMinion.photo">
      <br>

      <!-- <div ng-hide="viewMinion.isAdopted">This pet is up for adoption!<button ng-click="adoptMinion(viewMinion)">Adopt This Pet</button></div> -->
      <button type='submit'>Save Edit</button>
    </form>
    <button id="delete" ng-click="deleteMinion(viewMinion)">Delete Minion</button>
  </div><div class="card" ng-hide="viewMinion">
  <form ng-submit="addMinion(newMinion)">

    <!-- minions -->

    <div class="new">New Minion</div>
    <br>
    <label>Name:</label>
    <input ng-model="newMinion.name" type="text" required>
    <br>
    <label for="">Photo URL</label>
    <input ng-model="newMinion.photo" type="img">
    <br>

    <label>Eyes</label>
    <input ng-model="newMinion.eyes" type="number">
    <br>  

    <label>Hair</label>
    <input ng-model="newMinion.hair" type="text">
    <br>

    <label for="notes">Notes:</label>
    <textarea ng-model="newMinion.notes" cols="9" rows="3"></textarea>


    <button type="submit">Submit Minion</button>
  </form>
</div>

</div><div class="minion-col">
<!-- <div class="listTitle">Minions:</div> -->
<ul >
  <li><a ng-click="viewMinion = null">+Add Minion<a/></li>
  <li ng-repeat="minion in minions track by $index"><a ng-click="editMinion(minion) | filter:adopted:available:all">{{minion.name}}<img ng-src="{{minion.photo}}"></a></li>

  <!-- <li ng-click="viewOwner = true">stuff</li> -->

</ul>
</div>



