<h1>MINIONS</h1>

<!-- <ul>
  <li>
  </li>
</ul>


 -->

<!-- single owner view -->

<!-- <div>{{owner.last}}</div>
<div>{{reserv.seats}}</div>

<img ng-src="{{owner.photo}}">

 -->
<!-- form -->

<!-- 
<form ng-submit="addReserv(reserv)">

  <label>First Name:</label>
  <input ng-model="owner.first" type="text">
  <label>Last Name:</label>
  <input ng-model="owner.last" type="text">

  <input ng-model="owner.photo" type="number" min="1" max="12">


  <label>Age:</label>
  <input ng-model="owner.age" type="number" min="1" max="15">

  <label for="notes">Notes:</label>
  <textarea ng-model="owner.notes" cols="9" rows="3"></textarea>

  <label for="">Minions Adopted:</label>
  <input type="mongoose.Schema.Types.ObjectId">

</div>

<button type="submit">Add Owner</button>
<button>X</button>


</form> -->