

<button ng-click="viewAll()">View All</button>
<button ng-click="viewAvailable()">View Available</button>
<button ng-click="viewAdopted()">View Adopted</button>


<br>

<div class="middle-col middle-min">
  <div class="card" ng-show="viewMinion">
    <img ng-src="{{viewMinion.photo}}">
    <form ng-submit="saveEdit(viewMinion)">
      <label for="">Name</label>
      <input ng-model="viewMinion.name"></input>
      <label for="">Eyes</label>
      <input class="eyes" ng-model="viewMinion.eyes"></input>
      <label for="">Hair</label>
      <input ng-model="viewMinion.hair"></input>
      <br>

      <textarea placeholder="Notes..." ng-model="viewMinion.notes"></textarea>
      <br>
      <input type="text" ng-model="viewMinion.photo">
      <br>

      <div class="row">
        <button type="button" class="saveEdit" title="Save Edit" type='submit'><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      </form>
       <a href=""><button title="Delete Minion" class="delete" ng-click="deleteMinion(viewMinion)"><i class="fa fa-times" aria-hidden="true"></i></button></a>
    </div>

  </div><div class="card" ng-hide="viewMinion">


  <form ng-submit="addMinion(newMinion)">
    <div class="new">New Minion</div>
    <br>

    <div align="center" class="input-field">
      <input id="mName" ng-model="newMinion.name" type="text" required>
      <label for"mName">Name:</label>
    </div>


    <div align="center" class="input-field">
      <input id="mPhoto" ng-model="newMinion.photo" type="text">
      <label for="mPhoto">Photo URL:</label>
    </div>

    <div align="center" class="input-field">
      <input class="eyes"ng-model="newMinion.eyes" type="number">
      <label for="eyes">Eyes:</label>
    </div>


    <div align="center" class="input-field">
      <input id="mhair" ng-model="newMinion.hair" type="text">
      <label for="mHair">Hair:</label>
    </div>

    <div align="center" class="input-field">
      <textarea ng-model="newMinion.notes" cols="9" rows="3"></textarea>
      <label for="notes">Notes:</label>
    </div>
    <button type="submit">Submit Minion</button>
  </form>
</div>

</div><div class="minion-col">
<!-- <div class="listTitle">Minions:</div> -->
<ul >
  <li><a ng-click="viewMinion = null">+Add Minion<a/></li>
  <li ng-repeat="minion in minions track by $index"><a ng-click="editMinion(minion) | filter:adopted:available:all">{{minion.name}}<img ng-src="{{minion.photo}}"></a></li>

  <!-- <li ng-click="viewOwner = true">stuff</li> -->

</ul>
</div>



