  <nav>
    <ul class="left">
      <div class="title">Despicable Us</div>
    </ul>
    <ul class="right">
      <li><a ui-sref="owners">Owners</a></li>
      <li><a ui-sref="minions">Minions</a>
      </ul>
    </nav>


    <div class="row">
      <div id="directions">
        Here you can create yourself as a new owner or choose one from the list on the side!  Then, go ahead and  look at the adobtable minions and choose your favorite to call your own!  You can even create a new minion!  Have fun!
      </div>
      <div id="minionDiv"><img src="images/minion.png" alt="images/minion.png" id="minionImg"></div>
    </div>