



<div class="owner-col">
  <ul>
    <li><a ng-click="viewOwner = null">+Add Owner<a/></li>
    <li ng-repeat="owner in owners track by $index"><a ng-click="editOwner(owner)">{{owner.name}}</a><img ng-src="{{owner.photo}}"></li>
  </ul>
</div><div class="middle-col">
<div class="card" ng-show="viewOwner">
  <h3>Owners Card</h3>
  <form ng-submit="saveEdit(viewOwner)">
    <label for="">Name</label>
    <input ng-model="viewOwner.name"></input>
    <br>
    <label for="">Age</label>
    <input ng-model="viewOwner.age"></input>
    <br>
    <label for="">Notes:</label>
    <textarea ng-model="viewOwner.notes"></textarea>
    <br>
    <label for="Minion"></label>

    <br>
    <img ng-src="{{viewOwner.photo}}">
    <input type="text" ng-model="viewOwner.photo">


    <label for="">Minions Adopted:</label>
    <ul>
      <li ng-repeat="minion in viewOwner.minions track by $index">{{minion.name}}</li><img ng-src="{{minion.photo}}">
    </ul>

    <button type='submit'>Save Edit</button>
  </form>

  <button ng-click="seeAdoptList()"data-target="modal1" class="modal-trigger">Adopt A Minion!</button>

  <button id="delete" ng-click="deleteOwner(viewOwner)">Delete Owner</button>

</div>


<div class="card" ng-hide="viewOwner">
<form ng-submit="addOwner(newOwner)">
  <h3>New Owner</h3>

  <label>Name:</label>
  <input ng-model="newOwner.name" type="text" required>
  <br>
  <label for="">Photo URL</label>
  <input ng-model="newOwner.photo" type="img">
  <br>


  <label>Age:</label>
  <input ng-model="newOwner.age" type="number" min="1" max="90">
  <br>


  <label for="notes">Notes:</label>
  <textarea ng-model="newOwner.notes" cols="9" rows="3"></textarea>

  <button type="submit">Submit Owner</button>
</form>
</div>

</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Adopt A Minion!</h4>
    <p>Please select which minion you would like to adopt!</p>


    <div ng-repeat="minion in available track by $index" ng-click="chosenMinion(minion)" ng-class="{'selected':
    minion === chosen}">
    <div id="adoptable">{{minion.name}}</div><img ng-src={{minion.photo}}>

  </div>

</div>
<div class="modal-footer">
  <a href="#!" class="modal-action modal-close waves-effect waves btn-flat ">Cancel</a>
  <button ng-click="addMinion(viewOwner._id, minionId)" class="modal-action modal-close waves-effect waves btn-flat ">Adopt!</button>
</div>
</div>
