


<!-- <div clas="listTitle">Owners:</div> -->
<div class="owner-col">
  <ul >
    <li><a ng-click="viewOwner = null">+Add Owner<a/></li>
    <li ng-repeat="owner in owners track by $index"><a ng-click="editOwner(owner)">{{owner.name}}</a><img ng-src="{{owner.photo}}"></li>
    <!-- <li ng-click="viewOwner = true">stuff</li> -->

  </ul>


</div><div class="middle-col">
<div class="card" ng-show="viewOwner">
  <h3>Owners Card</h3>
  <form ng-submit="saveEdit(viewOwner)">
    <label for="">Name</label>
    <input ng-model="viewOwner.name"></input>
    <br>
    <label for="">Age</label>
    <input ng-model="viewOwner.age"></input>
    <br>
    <label for="">Notes:</label>
    <textarea ng-model="viewOwner.notes"></textarea>
    <br>
    <label for="Minion"></label>
    <!-- <input ng-model="viewOwner.mongoose.Schema.Types.ObjectId"</input> -->
    <br>
    <img ng-src="{{viewOwner.photo}}">
    <input type="text" ng-model="viewOwner.photo">
    <button type='submit'>Save Edit</button>
  </form>
  <button id="delete" ng-click="deleteOwner(viewOwner)">Delete Owner</button>
</div><div class="card" ng-hide="viewOwner">
<form ng-submit="addOwner(newOwner)">
  <h3>New Owner</h3>

  <label>Name:</label>
  <input ng-model="newOwner.name" type="text" required>
  <br>
  <label for="">Photo URL</label>
  <input ng-model="newOwner.photo" type="img">
  <br>


  <label>Age:</label>
  <input ng-model="newOwner.age" type="number" min="1" max="90">
  <br>

  <label for="">Minions Adopted:</label>
  <!-- <input ng-model="newOwner.mongoose.Schema.Types.ObjectId" type="mongoose.Schema.Types.ObjectId"> -->

  <br>

  <label for="notes">Notes:</label>
  <textarea ng-model="newOwner.notes" cols="9" rows="3"></textarea>

  <button type="submit">Submit Owner</button>
</form>
</div>

</div>